<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#orders">Orders</a>
    <a href="#cart">cart</a>
    <a href="#contact" routerLink="/contact" routerLinkActive="active">Contact</a>
    <input type="text" placeholder="Search..">
    <div class="topnav-right">
      <a href="#register" routerLink="/reg" routerLinkActive="active">Register</a>
      <a href="#login" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
    </div>
<div class="welcome">
    <h1>Miracle Stores</h1>
    <p>Shop the latest trends in fashion, electronics, and more.</p>
</div>

<div class="tyi">
    <img src="/assets/Thank.jpg" alt="thank-you" style="width: 50%;"><br>
    <p-button (click)="onsubmit()">Back</p-button>
</div>


<footer>
    <p>&copy; 2023 Your Miracle Store. All rights reserved.</p>
  </footer>